# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
dist/
*.local

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker / DB
postgres_data/
docs/
data/
.github/